<h2>Sign In</h2>

<%= form_for :user do |f|%>
    <%= f.label :email %><br />
    <%= f.email_field :email %><br />

    <%= f.label :password %><br />
    <%= f.password_field :password %>

    <%= f.submit "Sign In" %>
<% end %></br>

<%= link_to image_tag("facebook_login_btn.jpeg", height: "44.4", width: "181.6"), "/auth/facebook" %><br></br>
<%= link_to image_tag("btn_google_signin_light_normal_web.png"), "/auth/google" %><br></br>
