<%=form_for item_type do |f|%>
  <sup>*</sup><%=f.label "Title: "%>
  <%=f.text_field :title%><br></br>

  <%=f.label "Storage Minimum (in months): "%>
  <%=f.text_field :storage_min%></br>
  <p><em>Time after which item may go bad</em></p>

  <sup>*</sup><%= f.label "Storage Maximum (in months): "%>
  <%=f.text_field :storage_max%></br>
  <p><em>Maximum recommeded time in freezer</em></p>

  <%=f.submit%><br></br>

  <p><sup>*</sup>Required field.</p>
<%end%>
