<%=form_for user do |f|%>

  <sup>*</sup><%= f.label "Email: "%>
  <%=f.text_field :email%><br></br>

  <sup>*</sup><%=f.label "Username: "%>
  <%=f.text_field :username%><br></br>

  <%=f.label "Image(as link): "%>
  <%=f.text_field :image%><br></br>

  <%=f.label "Admin: "%>
  <%=f.check_box :admin, unchecked: false%><br></br>

  <sup>*</sup><%=f.label "New Password: "%>
  <%=f.password_field :password%><br></br>

  <sup>*</sup><%=f.label "Confirm New Password: "%>
  <%=f.password_field :password_confirmation%><br></br>

  <%=f.submit%><br></br>

  <h3>Or Sign Up with Facebook or Google</h3>

  <%= link_to image_tag("facebook_login_btn.jpeg", height: "44.4", width: "181.6"), "/auth/facebook" %><br></br>
  <%= link_to image_tag("btn_google_signin_light_normal_web.png"), "/auth/google" %><br></br>


<%end%>
