<div class="banner">
  <h1>Welcome <%=@user.username.capitalize%>!</h1>
  <p><%=image_tag(@user.image, width: "10%", height: "10%") if @user.image%></p>
</div>

<div class="left-expired">
  <h2><strong>Expired</strong></h2>

  <%if @expired.any?%>
  <div class="points">
    <ol>
      <%@expired.each do |item|%>
        <li><%=link_to item.title, user_item_path(@user, item)%> -
          <em><%=format_date(item.expiration_max)%></em></li>
        <%end%>
      </ol>
  </div>
    <%else%>
      <h2>No expired foods!</h2>
    <%end%>
  </div>

</div>

<div class="right-expiring">
  <h2><strong>Expiring this week</strong></h2>
    <%if @expiration_week.any?%>
      <div class="points">
      <ol>
        <%@expiration_week.each do |item|%>
          <li><%= link_to item.title, user_item_path(@user,item)%>
            <em><%=format_date(item.expiration_max)%></em></li>
            <%end%>
          </ol>
      </div>
    <%else%>
      <h4><em>You have no foods expiring this week</em></h4>
    <%end%>
  </div>

<div class="footer">
  <h2><strong>Add a New Item</strong></h2>
</div>

<div class="footer-right">
  <%= render 'items/new_item_form', {item:@item} %>
</div>
