<div class="banner">
  <h1>Sign Up!</h1>

  <%=render partial: 'errors', collection: @errors if @user.errors.any?%>

  <%=render 'user_form', user:@user%>

  <sup>*</sup><%=f.label "New Password: "%>
  <%=f.password_field :password%><br></br>

  <sup>*</sup><%=f.label "Confirm New Password: "%>
  <%=f.password_field :password_confirmation%><br></br>

  <h3>Or Sign Up with Facebook or Google</h3>

  <%= link_to image_tag("facebook_login_btn.jpeg", height: "44.4", width: "181.6"), "/auth/facebook" %><br></br>
  <%= link_to image_tag("btn_google_signin_light_normal_web.png"), "/auth/google" %><br></br>

  <p><sup>*</sup>Required field.</p>

</div>
