<div class="banner">
  <h1>Sign Up!</h1>

  <%=render partial: 'errors', collection: @errors if @user.errors.any?%>

<%=form_for :user, url:users_path do |f|%>

  <%=render 'user_form', f:f%>

  <sup>*</sup><%=f.label "New Password: "%>
  <%=f.password_field :password%><br></br>

  <sup>*</sup><%=f.label "Confirm New Password: "%>
  <%=f.password_field :password_confirmation%><br></br>

  <%=f.submit%><br></br>

<%end%>

  <h3></h3>

  <%= link_to "Sign in with Facebook", "/auth/facebook" %><br></br>
  <%= link_to "Sign in with Google", "/auth/google" %><br></br>
  
  <p><sup>*</sup>Required field.</p>

</div>
