
  <h3><strong><%=f.label "Title: "%></strong>
  <%=f.text_field :title%></h3>

  <h3><strong><%=f.label "Date Stored: "%></strong>
  <%=f.text_field :date_stored, value: format_date(f.object.date_stored)%></h3>

  <h3><strong><%=f.label "Item Type: "%></strong>
  <%=f.collection_select :item_type_id, ItemType.all, :id, :title, :include_blank => true %></h3>

  <h3><strong><%=f.label "Select a Freezer: "%></strong>
  <%=f.collection_select :freezer_id, current_user.freezers, :id, :name, :include_blank => true %></h3>

  <h4><strong><em><sup>*</sup>You cannot create a new freezer unless 'Select a Freezer' is blank</em></strong></h4>

  <h3><strong><%=f.label "Create a New Freezer: "%></strong></h3>
  <%=f.fields_for :freezer, f.object.build_freezer do |freezer|%>
    <h4><%=freezer.label :name%>: <%=freezer.text_field :name%></h4>
    <h4><%=freezer.label :freezer_type%>: <%=freezer.text_field :freezer_type%></h4>
  <%end%>

  <h3><strong><%=f.label "Notes: "%></strong></h3>
  <%=f.fields_for :notes do |note|%>
    <%=note.text_area :content%>
    <%=note.hidden_field :user_id, value: current_user.id%>
  <%end%><br></br>

  <%=f.submit%>
