<div class="banner">
    <h1><%=@item.title%></h1>
    <p><em><%=@item.item_type.title%></em></p>
    <p><strong>Date Stored: </strong><%=format_date(@item.date_stored)%></p>
    <p><strong>Expiration: </strong><%=expiration_zone(@item.expiration_min, @item.expiration_max)%></p>
    <p><strong>Freezer: </strong><em><%=@item.freezer.name%> - <%=@item.freezer.freezer_type%></em></p>
    <%=link_to "Items List", items_path%>
</div>
