<!DOCTYPE html>
<html>
  <head>
    <title>ColdOpen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= render 'layouts/header' %>

  <body>
    <%= yield %>
  </body>

  <div class="footer">
    <%= render 'layouts/quicklinks' if current_user%>
  </div>
</html>
